**/__pycache__/
**/.ipynb_checkpoints/
**/*.log
**/test.ipynb
**/test.py
**/kg_test.ipynb
**/result_show.ipynb

Mixed_IE/llm/not_important
Mixed_IE/llm/main.ipynb
Mixed_IE/llm/responses_history.py
Mixed_IE/further_processed/
Mixed_IE/statistic/Similarity.pdf

Hybird_RAG/predict/LLMInferenceServer/

Hybird_RAG/temp/

Hybird_RAG/retriever/embed_model/
Hybird_RAG/retriever/persist_store/
Hybird_RAG/retriever/temp/

Hybird_RAG/evaluation/result_show.ipynb
Hybird_RAG/evaluation/predict_results/
Hybird_RAG/evaluation/roberta-large/
Hybird_RAG/evaluation/eval_results/

Hybird_RAG/ft_model/cpl/
Hybird_RAG/ft_model/e2e/
Hybird_RAG/ft_model/rotowire/
Hybird_RAG/ft_model/model_list.json



data/rotowire/
data/cpl/
data/e2e/
raw/

preprocess/CPL_Processor/